@reference "../../../index.css";

.input:disabled ~ div {
    opacity: 0.5;
    cursor: not-allowed;
}

.input:disabled ~ div .icon {
    pointer-events: none;
}

.icon {
    @apply text-gray-500 select-none;
    @apply cursor-pointer;
}
